BASE_URL=https://dev.artha.work/
TEST_USERNAME=your.email@example.com
TEST_PASSWORD="your_password_here" #keep in String format alway for Password field.
TIMEOUT=20
AUTH0_DOMAIN=auth0.com

# Browser to run tests in.
# Options: chromium | firefox | webkit- safari | all
# 'all' runs every configured browser project in parallel.
BROWSER=chromium
